.searchBtn {
    background: var(--adding-background-color);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBtn:hover {
    cursor: pointer;
    background-color: #FF868E;
}
