.optionButton {
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #FF868E;
    width: 17vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 10px 0;
    font-size: 12px;
}

.optionButton:hover {
    background-color: #FBE0DC;
}

.optionButton:active {
    background-color: #FF868E;
    color: #FFFFFF;
;
}