.optionButton {
    border-radius: 10px;
    background-color: var(--adding-background-color);
    color: #FF868E;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
}

.link {
    color: #FF868E;
    text-decoration: none;
}

.optionButton:active {
    background-color: #FF868E;
}

.optionButton:active .link {
    color: #FFFFFF;
}