.title {
    height: 40px;
    width: 164px;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 2px;
    background-color: #FF868E;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultTitle {
    background-color: var(--btn-color);
    color: #FF868E;
}