.container {
    display: flex;
    gap: 5px;
}
.icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--adding-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--slider-background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #FF868E;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--slider-background-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--slider-background-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
