.body {
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    margin-bottom: 2em;
}

.content {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}