.content {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header, .leftPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftPart {
    gap: 10px;
}


