.mainOptBox {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.mainOptBox > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 425px) {
    .mainOptBox {
        flex-direction: column;
        width: 100%;
    }
    .menuBtn {
        width: 100%;
    }
}