.main {
    margin-left: 3.9375rem;
    margin-top: 2.3125rem;
    position: sticky;
    top:0;
    left: 0;
}

.main p {
    color: #8C8C8C;
}
.main h1 {
    font-size: 44px;
    margin-top: 5.3rem;
}

.main p, h5 {
    font-size: 20px;
}

.main h5 {
    margin-top: 3.75rem;
    margin-bottom: 1.2rem;
}