.main {
    padding-left: 60px;
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main p {
    color: #8C8C8C;
}
.main h1 {
    font-size: 44px;
    margin-top: 5.3rem;
}

.main p, h5 {
    font-size: 20px;
}

.main h5 {
    margin-top: 3.75rem;
    margin-bottom: 1.2rem;
}