.title {
    font-size: 10px;
    line-height: 18px;
    color: #8C8C8C;
    padding-left: 14px;
}

.select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: var(--adding-background-color);
    color: var(--main-text-color);
    cursor: pointer;
}
.select:hover {
    border: 2px solid var(--btn-color);
}
.select > option {
    color: #8C8C8C;
}


