.btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--adding-background-color);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-color);
}
.btn:active {
    background-color: #FF868E;
}