.content {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img {
    width: 100%;
    height: auto;
    position: relative;
}

.img img {
    width: 100%;
    height: 80%;
    border-radius: 20px;
}

.btnContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    z-index: 1;
}