.content {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.img > img {
    width: 100%;
    height: auto;
}