@import url('https://fonts.googleapis.com/css2?family=Jost&family=Work+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    color: var(--main-text-color);
}

body {
    background: var(--main-background-color);
}

.App {
    display: flex;
    position: relative;
    justify-content: space-between;
}

html[data-theme='night'] {
    --main-background-color: #1D1D1D;
    --adding-background-color: #FFFFFF0D;
    --main-text-color: #FFFFFF;
    --main-page-picture-block-color: #FFFFFF0D;
    --slider-background-color: #FF868E33;
    --btn-color: #FF868E33;
    --modal-window-color: #282828;
    --upload-box-color: #FFFFFF0D;
    --breed-page-select-bg-color: #FFFFFF0D;
    --dot-slider-bg-color: #282828;
    --log-body-bg-color: #FFFFFF0D;
    --img-block-btn-color: #282828;
}

html[data-theme='light'] {
    --main-background-color: #F8F8F7;
    --adding-background-color: #FFFFFF;
    --main-text-color: #1D1D1D;
    --main-page-picture-block-color: #FBE0DC;
    --slider-background-color: #FBE0DC;
    --btn-color: #FBE0DC;
    --modal-window-color: #F8F8F7;
    --upload-box-color: #FFFFFF;
    --breed-page-select-bg-color: #F8F8F7;
    --dot-slider-bg-color: #FFFFFF;
    --log-body-bg-color: #F8F8F7;
    --img-block-btn-color: #FFFFFF;
}

